

h1{
        text-align: center;
        color: white;
}
h3{
        text-align: center;
        color: white;
}

.boxForNew{
        width: 300px;
}

.topBanner{
        background-color: rgb(68, 66, 66);
        height: 100px;
}

.insidePos{
        text-align: left;
        color: white;
}
.myContainer {
        width: 300px;
        background-color: #ffcc33;
        margin: auto;
}



.myButton{
        background-color: rgb(68, 66, 66);
        height: 25px;      
}
.myButton:hover{
        background-color: black;
}

a{
        text-decoration: none;
        color:white;
}
